.price {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.carousel {
    &:hover {
        .carouselControls {
            opacity: 1;
        }
    }
}

.big  img{
    height: 500px;
}

.carouselControls {
    transition: opacity 150ms ease;
    opacity: 0;
}


.title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carouselIndicator {
    width: 4px !important;
    height: 4px !important;
    transition: width 250ms ease;

    &[data-active] {
        width: 16px !important;
    }
}